<div class='head'>$lang.get('user.dashboard.title')</div>

<div class='form userinfo'>
	<div><label><h3>$lang.get("label.welcome")</h3><i>#if($me.company) $me.company #end #if($me.department) $me.department #end 【$me.nickname】 #if($me.title) $me.title #end</i></label></div>

	 <div class='right'>
	 	<a href='/user/edit'>$lang.get('a.edit')</a>
#if($module.user_password == 'true')
		<a href='/admin/password/edit'>$lang.get('a.password')</a>
#end
	 </div>
</div>

<div class='state userdashboard'>

	#if($message_total)
	<div class='message_total'>$lang.get('user.message.total'): <i>$message_total</i> </div>
	#end
	
	#if($message_new)
	<div class='message_new'>$lang.get('user.message.new'): <i>$message_new</i> </div>
	#end

	#if($task_created)
	<div class='task_created'>$lang.get('user.task.created'): <i>$task_created</i>, $lang.get('user.task.finished'): $task_finished</div>
	#end
	
	#if($task_owned)
	<div class='task_owned'>$lang.get('user.task.owned'): <i>$task_owned</i>, $lang.get('user.task.owned.finished'): $task_owned_finished</div>
	#end

	<div class='space_used #if($space_alert) $space_alert #end'>$lang.get('user.space.used'): <i>$space_used</i>, $lang.get("user.space_usage"):#if($space_usage)<i>$space_usage</i>#end</div>
	<div class='space_free'>$lang.get('user.space.free'): #if($space_free)<i>$space_free</i>#else $lang.get('user.space.ulimited') #end</div>

</div>
