<div class='head'>$lang.get('user.message.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/user/message' class='selected'>$lang.get('a.user.message')</a>
</div>

<div class='search'>
	<form action='/user/message' method='get' #if($currentpage>0) style='display:none' #end >
		<span><label><h3>$lang.get('message.flag'):</h3>
			<select name='flag'>
				<option value=''>$lang.get("message.flag_all")</option>
				<option value='new' #if($flag == 'new') selected #end>$lang.get("message.flag_new")</option>
				<option value='mark' #if($flag == 'mark') selected #end>$lang.get("message.flag_mark")</option>
				<option value='done' #if($flag == 'done') selected #end>$lang.get("message.flag_done")</option>
				<option value='read' #if($flag == 'read') selected #end>$lang.get("message.flag_read")</option>
			</select>
		</span>
		<span><label><h3>$lang.get('message.subject'):</h3><input type='text' name='subject' value=#if($subject) '$subject' #else '' #end/></label></span>

		<button class='btns1' type='submit'>$lang.get('a.search')</button>
	</form>
	
	<div class='s1tab #if($currentpage>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table id='message-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th class='checkbox'><label><input type='checkbox'/>$lang.get('select.all')</label></th>
			<th class='checkbox'>$lang.get('message.flag')</th>
			<th class='date'>$lang.get('message.created')</th>
			<th>$lang.get('message.subject')</th>
			<th style='width:50%'>$lang.get('message.body')</th>
			<th>$lang.get('message.from')</th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr class='message_$f.flag' id="tr_$f.id">
		<td class='checkbox'><input type='checkbox' name='id' value='$f.id'/></td>
		<td class="flag"><span class="hint hint--bottom" data-hint='$lang.get("message.flag_$f.flag")' ></span></td>
		<td>$lang.format($f.created, 'yyyy-MM-dd hh:mm:ss')</td>
		<td>#if($f.subject)$f.subject#end</td>
		<td>#if($f.body)$f.body#end</td>
		<td>#if($f.from) <i class='user'>$f.from.name</i>#end</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
	<a href='javascript:;' onclick='_post("/user/message/done", "#message-table");'>$lang.get('a.message.done')</a>
	<a href='javascript:;' onclick='_post("/user/message/mark", "#message-table");'>$lang.get('a.message.mark')</a>
	<a href='javascript:;' onclick='_post("/user/message/delete", "#message-table", -1);'>$lang.get('a.delete')</a>
</div>

<script>
$('#message-table').tablesorter({headers:{0:{sorter:false}, 1:{sorter:false}}});
</script>
