<div class='head'>访问记录</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/accesslog' class='selected'>访问记录</a>
</div>

<div class='search'>
	<form action='/admin/accesslog' method='get' class='form'>
		<span><label><h3>URI</h3>:<input type='text' name='guri' value="$!guri" /></label></span>
		<span><label><h3>IP</h3>:<input type='text' name='ip' value="$!ip" /></label></span>
	
		<button class='btns1' type='submit'>$lang.get('a.search')</button>
	</form>
	<div class='s1tab #if($currentpage>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table id='accesslog-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>URL</th>
			<th>Method</th>
			<th>Cost(ms)</th>
			<th>SID</th>
			<th>UID</th>
			<th>USERNAME</th>
			<th>IP</th>
			<th>Created</th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td>$!f.url</td>
		<td>$!f.method</td>
		<td>$!f.cost</td>
		<td>$!f.sid</td>
		<td>$!f.uid</td>
		<td>$!f.username</td>
		<td>$!f.ip</td>
		<td>$lang.format($!f.created, 'yyyy-MM-dd HH:mm')</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
	<a href='javascript:;' onclick='_deleteall();'>$lang.get('a.delete')</a>
</div>

<script>
$(function(){
	$('#accesslog-table').tablesorter();
})
function _deleteall() {
	if(confirm('确认删除所有访问记录？')) {
		processing && processing.show();
		$.post('/admin/accesslog/deleteall', {}, function(d) {
			processing && processing.hide();
			reload();
		});
	}
}
</script>
