<div class='head'>$lang.get('cluster.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/cluster' class='selected'>$lang.get('a.cluster')</a>
</div>

<table id='cluster-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('cluster.nodeid')</th>
			<th>$lang.get('cluster.ip')</th>
			<th>$lang.get('cluster.requests')</th>
			<th>$lang.get('cluster.response')</th>
			<th>$lang.get('cluster.status')</th>
			<th>$lang.get('cluster.started')</th>
			<th>$lang.get('cluster.version')</th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr class='cluster-status$f.status'>
		<td><input type='checkbox' name='id' value='$f.id'/>$f.id</td>
		<td>$f.nodeid</td>
		<td>$!f.ip</td>
		<td>$!f.requests</td>
		<td>$!f.response</td>
		<td>$!lang.get("cluster.status_$!f.status")</td>
		<td>$lang.format($!f.started, 'yyyy-MM-dd HH:mm')</td>
		<td>$!f.version</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
	<a href='/admin/cluster/add'>$lang.get('a.add')</a>
	<a href='javascript:;' onclick='_post("/admin/cluster/edit", "#cluster-table", 1);'>$lang.get('a.edit')</a>
</div>

<script>
$('#cluster-table').tablesorter();
</script>
