<div class='head'>数据详情</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/data'>数据集查询</a>
	<a href='/admin/data/update?collection=$collection&id=$id'>修改数据</a>
	<a href='/admin/data/detail?collection=$collection&id=$id' class='selected'>数据详情</a>
</div>

<form action='/admin/casedata' method='post' class='form'>
	<div><label><h3>Collection</h3>:<i>$!collection</i></label></div>
	<div><label><h3>_ID</h3>:<i>$!id</i></label></div>

	<div class='submit'>
		<button type='submit'>$lang.get('btn.ok')</button>
	</div>
</form>

<div>
	$!d.all
</div>

