<div class='head'>修改数据</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/data'>数据集查询</a>
	<a href='/admin/data/update?collection=$!collection&id=$!id' class='selected'>修改数据</a>
	#if($id)
	<a href='/admin/data/detail?collection=$!collection&id=$!id'>数据详情</a>
	#end
</div>

<form action='/admin/data/update' method='post' class='form'>
	<div><label><h3>Collection</h3>:<input type='text' name='collection' value="$!collection" /></label></div>
	<div><label><h3>_ID</h3>:<input type='text' name='id' value="$!id" /></label></div>

	<div class='fullline'><label><h3>Body</h3>:<textarea name='body' style='height:600px'>$!body</textarea></label></div>

	<div class='submit'>
		<button type='submit'>$lang.get('btn.ok')</button>
	</div>
</form>
