<div class='head'>$lang.get('dict.index.title')</div>

#parse('/widget/widget.message.html')

#parse('/admin/dict.tabs.html')

<div class='search'>
	<form action='/admin/dict/$path' method='get' #if($currentpage>0) style='display:none' #end >
		<span><label><h3>$lang.get('dict.name'):</h3><input type='text' name='name' value=#if($name) '$name' #else '' #end/></label></span>
		<span><label><h3>$lang.get('dict.display'):</h3><input type='text' name='display' value=#if($display) '$display' #else '' #end/></label></span>
		<button class='btns1' type='submit'>$lang.get('a.search')</button>
	</form>
	
	<div class='s1tab #if($currentpage>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

#set ($edit =($module.dict_edit=='true' && $me.hasAccess('access.dict.edit')))

<table id='dict-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			#if($edit)<th class='checkbox'><label><input type='checkbox'/>$lang.get('select.all')</label></th>#end
			<th>$lang.get('dict.name')</th>
			<th>$lang.get('head.display')</th>
			<th>$lang.get('head.seq')</th>
			<th>$lang.get('dict.count')</th>
			<th>$lang.get('head.parent')</th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
#if($edit)
		<td class='checkbox'><input type='checkbox' name='id' value='$f.id'/></td>
#end		
		<td class='name'><a href='/admin/dict/$f.id'>$f.name</a></td>
		<td>#if($f.display)$f.display#end</td>
		<td>$f.seq</td>
		<td>$f.count</td>
		<td>#if($f.parentdict) $f.parentdict.name #if($f.parentdict.display)- $f.parentdict.display #end #end</td>
	</tr>
#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<div class='btns'>
#if($edit)
	<a href='/admin/dict/add?parent=$parent'>$lang.get('a.dict.add')</a>
	<a href='/admin/dict/addbatch' class="hint hint--bottom" data-hint="$lang.get('dict.hint.addbatch')">$lang.get('a.dict.addbatch')</a>
	<a href='javascript:;' onclick='_post("/admin/dict/edit", ".tablesorter", 1)' class="hint hint--bottom" data-hint="$lang.get('dict.hint.edit')">$lang.get('a.edit')</a>
	#if($module.dict_delete == 'true')
	<a href='javascript:;' onclick='_post("/admin/dict/delete", ".tablesorter", -1)' class="delete hint hint--bottom" data-hint="$lang.get('dict.hint.delete')">$lang.get('a.delete')</a>
	#end
#end
#if($module.dict_download == 'true')
	<a href='#leanmodal.download' rel="leanModal" class="hint hint--bottom" data-hint="$lang.get('dict.hint.download')">$lang.get('a.download')</a>
#end
</div>

<div id='leanmodal' class='download'>
	<div class='leanmodal_header'><label><h3>文件编码</h3>:<i></i></label></div>
	<div><label><h3>UTF8</h3>:<input type='radio' name='e' value='UTF8'/></label>
	<label style='margin-left: 20px'><h3>GBK</h3>:<input type='radio' name='e' checked value='GBK'/></label>
	<label style='margin-left: 20px'><h3>GB2312</h3>:<input type='radio' name='e' checked value='gb2312'/></label>
	</div>
	<button onclick='_download()'>下载</button>
</div>

<iframe id="download-iframe" style='display:none'></iframe>

<script>
$(function(){
	$("a[rel*=leanModal]").leanModal();

	#if($edit)
		$('#dict-table').tablesorter({headers:{0:{sorter:false}}});
	#else
		$('#user-table').tablesorter();
	#end

})

function _download(){
	$.get('/admin/dict/download', {e:$('#leanmodal.download input[name=e]:checked').val()}, function(d){
		if(d.state == 200) {
			$('#download-iframe').attr('src', d.file);
		}
	});
	
	$('#lean_overlay').click();
}

</script>
