<div class='head'>$lang.get('folder.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/folder' class='selected'>$lang.get('a.folder')</a>
</div>

<table id='user-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('head.number')</th>
			<th>$lang.get('head.name')</th>
			<th>$lang.get('head.title')</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td>$f.id</td>
		<td><a href='/admin/folder/edit?id=$f.id'>$f.name</a></td>
		<td>$f.title</td>
		<td>
			<a href='/admin/doc?fid=$f.id'>$lang.get('a.files')</a>
			<a class='delete' href='/admin/folder/delete?id=$f.id'>$lang.get('a.delete')</a>
		</td>
	</tr>
#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<div class='btns'>
	<a href='/admin/folder/add'>$lang.get('a.folder.add')</a>
</div>

<script>
$('#user-table').tablesorter();
</script>
