<div class='head'>$lang.get('folder.edit.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/folder'>$lang.get('a.folder')</a>
	<a href='/admin/folder/edit?id=$id' class='selected'>$lang.get('a.edit'):$name</a>
</div>

<form action='/admin/folder/edit'  method='post' class='form' enctype="multipart/form-data">
	<input type='hidden' name='parent' value='$parent'/> 
	<input type='hidden' name='id' value='$id'/> 
	
	<div><label><h3>$lang.get('label.name')</h3>:<input type='text' name='name' value=#if($name) '$name' #else '' #end/></label></div>
	<div><label><h3>$lang.get('label.title')</h3>:<input type='text' name='title' value=#if($name) '$title' #else '' #end/></label></div>
##	<div><label><h3>$lang.get('label.hot')</h3>:<input type='text' name='hot' value=#if($name) '$hot' #else '' #end/></label></div>
##	<div><label><h3>$lang.get('label.recommend')</h3>:<input type='text' name='recommend' value= #if($recommend)'$recommend' #else '' #end/></label></div>
	<div><label><h3>$lang.get('label.seq')</h3>:<input type='text' name='seq' value=#if($seq) '$seq' #else '999' #end/></label></div>
	<div><label><h3>$lang.get('label.access')</h3>:<input type='text' name='access' value=#if($access) '$access' #else '' #end/></label></div>
##	<div><label><h3>$lang.get('label.content')</h3>:<textarea name='content'>#if($content)$content#end</textarea></label></div>
	
	<button type='submit'>$lang.get('btn.save')</button>
</form>	

