<div class='head'>$lang.get('menu.index.title')</div>

#foreach($m in $list)
<div class='item' id="mid_$m.id">
	<span class='menu' data='$m.id'></span>
	<span class='name'>$lang.get("$m.name")</span>
	<span class='ops'><a href='javascript:;' onclick='_delete($m.id)'>$lang.get('a.delete')</a></span>
	<div class='submenu'></div>
</div>
#end

<script>
function _delete(id){
	$.post("/admin/menu", {a:"delete", id: id}, function(d){
		console.log(d);
		if(d.state == 'ok'){
			$('#mid_' + id).slideUp(500);
		}
	});
}

function hook(root) {
	root.find('span.menu').click(function(e){
		var menu = $(e.target);
		
		
		if(menu.hasClass('open')) {
			var sub = menu.parent().find('div.submenu');
			if(sub.children().length > 0) {
				$(sub[0]).slideUp(500, function(){
					menu.removeClass('open');
					resize();
				});
			} else {
				menu.removeClass('open');
			}
		} else {
			var sub = menu.parent().find('div.submenu');
			if(sub.attr('load') == "1") {
				menu.addClass('open');
				if(sub.children().length > 0) {
					$(sub[0]).slideDown(800, 'easeOutQuad', function(){
						resize();
					});
				}
			} else {
				//load the submenu
				var id = menu.attr('data');
				$.post('/menu', {root: id}, function(d){
					var s = '';
					$(d).each(function(i, e){
						s += menutohtml(e);
					});
					
					var sub = menu.parent().find('div.submenu');
					sub.html(s);
					sub.attr("load", "1");
					hook(sub);
					
					menu.addClass('open');
					if(sub.children().length > 0) {
						$(sub[0]).slideDown(800, 'easeOutQuad', function(){
							resize();
						});
					}
				})
			}
		}
	})
}

function menutohtml(e){
	var s = '<div class="item" id="mid_' + e.id + '">';
	s += '<span class="menu" data="' + e.id + '"></span>';
	s += '<span class="name">' + e.text + '</span>';
	s += '<span class="ops">';
	s += '<a href="javascript:;" onclick="_delete(' + e.id + ')">$lang.get("a.delete")</a>';
	s += '</span>';
	s += '<div class="submenu"></div>';
	s += '</div>';
	return s;
}

$(function(){
	hook($('#panel .content'));
})

</script>