<div class='head'>$lang.get('title.download.module')</div>

<script type="text/javascript" src="/js/jquery.filedownload.js"></script>

#parse('/widget/widget.message.html')

<table id='user-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('head.name')</th>
			<th>$lang.get('head.created')</th>
			<th>$lang.get('head.size')</th>
		</tr>
	</thead>
	<tbody>
#if($f)
	<tr>
		<td><a href='javascript:;' onclick='$.download("$link")'>$f.name</a></td>
		<td>$lang.format($f.lastModified())</td>
		<td>$lang.size($f.length())</td>
	</tr>
#end
	</tbody>
</table>

<script>
	$('#user-table').tablesorter();
</script>
