<div class='head'>$lang.get('module.title')</div>

<div class='tabs'>
	<a href='/admin/module' class='selected'>$lang.get('a.module')</a>
	<a href='/admin/module/create'>$lang.get('a.module.create')</a>
</div>

<div class='notes'>
	$lang.get('notes.upload.module')
</div>

#parse('/widget/file.uploader.html')

#parse('/widget/widget.message.html')

<div class='modules'>
#foreach ($m in $actives)
	<div class='module'>
		<div class='left'>
			<div class='name'>$m.name</div>
			<div class='screen'><img src='$m.screenshot'/></div>
		</div>
		<div class='right'>
			<div class='name'>$m.name</div>
			<div class='id'>$lang.get('label.id'):$m.id</div>
			<div class='version'>$lang.get('label.version'):#if($m.version) $m.version #end</div>
			<div class='build'>$lang.get('label.build'):#if($m.build) $m.build #end</div>
			<div class='pack'>$lang.get('label.pack'):$m.pack</div>
			<div class='readme'>#if($m.readme) $m.readme #end</div>
			<div class='btns'>
				#if($m.id!=0)
				<a class='disable hint--bottom' href='/admin/module/disable?name=$m.name' data-hint="$lang.get('hint.module.disable')?"><i></i>$lang.get('a.disable')</a>
				#end
 			</div>
		</div>
	</div>
#end
</div>

<div class='modules disabled'>
<div class='title'>$lang.get('title.disabled.module')</div>
#foreach ($m in $list)
	<div class='module'>
		<div class='left'>
			<div class='name'>$m.name</div>
			<div class='screen'><img src='$m.screenshot'/></div>
		</div>
		<div class='right'>
			<div class='id'>$lang.get('label.id'):$m.id</div>
			<div class='pack'>$lang.get('label.pack'):$m.pack</div>
			<div class='readme'>$lang.get('label.readme'):#if($m.readme) $m.readme #end</div>
			<div class='btns'>
				<a class='enable hint--bottom' href='/admin/module/enable?name=$m.name' data-hint="$lang.get('hint.module.enable')?">$lang.get('a.enable')</a>
				<a class='delete hint--bottom' href='/admin/module/delete?name=$m.name' data-hint="$lang.get('hint.module.delete')?">$lang.get('a.delete')</a>
			</div>
		</div>
	</div>
#end
</div>

<script>
function uploaddone(url){
	$.post('/admin/module/add', {url: url}, function(d){
		if(d.state == 200) {
			$.message(d.message);
		} else if(d.state == 201) {
			$.warn(d.message, 3000);
			setTimeout(function(){
				processing && processing.show();
				setInterval(_load, 5000);
			}, 3000);
		} else {
			$.error(d.message);
		}

	});
}

function _load() {
	$.get('/admin/dashboard', {}, function(d){
		window.location.href = window.location.href;
	});
}

</script>
