<div class='head'>$lang.get('myspace.index.title')</div>

<div class='btns'>
	<a href='/admin/myspace/add'>$lang.get('a.myspace.add')</a>
</div>

#parse('/widget/widget.message.html')

<table id='user-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('head.name')</th>
			<th>$lang.get('head.created')</th>
			<th>$lang.get('head.size')</th>
			<th>$lang.get('head.flag')</th>
			<th>$lang.get('head.user')</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td><a href='$f.url' target='_blank'>$f.name</a></td>
		<td>$lang.format($f.created, 'yyyy-MM-dd hh:mm:ss')</td>
		<td>$lang.size($f.total)</td>
		<td>$f.flag</td>
		<td>$f.user.name</td>
		<td><a href='/admin/myspace/delete?id=$f.id'>$lang.get('a.delete')</a></td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<script>
	$('#user-table').tablesorter();
</script>
