<div class='head'>$lang.get('password.title')</div>

#parse('/widget/widget.message.html')

<form action='/admin/password/edit'  method='post' class='form'>
#if($me.password)
	<div><label><h3>$lang.get('label.old.password')</h3>:<input type='password' name='old' value=#if($old) '$old' #else '' #end/></label></div>
#end
	<div><label><h3>$lang.get('label.new1.password')</h3>:<input type='password' name='new1' value=#if($new1) '$new1' #else '' #end/></label></div>
	<div><label><h3>$lang.get('label.new2.password')</h3>:<input type='password' name='new2' value=#if($new2) '$new2' #else '' #end/></label></div>
	<div><button type='submit'>$lang.get('btn.save')</button></div>
</form>
