	<div><label><h3>$lang.get('system.time'):</h3><input type='text' name='time' value='$time' readonly=readonly/></label></div>
	<div><label><h3>$lang.get('label.ntp'):</h3><input type='text' name='ntp' value=#if($ntp)'$ntp' #else '' #end/></label></div>
	<div><label><h3>$lang.get('label.node'):</h3><i>$!node</i><g>( code in giisoo.properties )</g></label></div>
	<div><label><h3>$lang.get('label.deploycode'):</h3><i>$!system_code</i><g>集群编码 ( system.code in giisoo.properties )</g></label></div>

	<hr/>
	<div><label><h3>$lang.get('label.mdc.tcp.enabled'):</h3><input type='checkbox' name='mdc_tcp' #if($mdc_tcp=='true') checked='checked' #end/></label></div>
	<div><label><h3>$lang.get('label.mdc.tcp.host'):</h3><input type='text' name='mdc_tcp_host' value=#if($mdc_tcp_host)'$mdc_tcp_host' #else '0.0.0.0' #end/></label></div>
	<div><label><h3>$lang.get('label.mdc.tcp.port'):</h3><input type='text' name='mdc_tcp_port' value=#if($mdc_tcp_port)'$mdc_tcp_port' #else '1099' #end/></label></div>
	<div><label><h3>$lang.get('label.mdc.tcp.domain'):</h3><input type='text' name='mdc_tcp_domain' value=#if($mdc_tcp_domain)'$mdc_tcp_domain' #else 'mdc.[domain].com' #end/></label></div>
	<hr/>

	<div><label class='full'><h3>$lang.get('label.pubkey'):</h3><textarea name='pubkey'>$!pubkey</textarea></label></div>
