<div class='head'>$lang.get('system.clone.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/system/clone' class='selected'>$lang.get('a.clone')</a>
</div>

<div class='notes'>
	<p>自动在远端服务节点上安装需要的软件（nginx, postgresql, mongo, jdk, tomcat，webgiisoo），并设置相关服务， </p>
	<p>目前支持的远端操作系统centos, ubuntu. 请确保网络地址、SSHD已经在远端服务器安装并运行. </p>
	<p> 相值关参考： <a href='/faq/ssh_nopasswd.html'>SSH无密码登录</a>， <a href='/faq/suder.html'>SUDO 用户设置</a></p>
</div>

<div class='form'>
	<div><label><h3>Host</h3>:<input type='text' name='host' value=""/></label></div>
	<div><label><h3>Port</h3>:<input type='text' name='port' value="22"/></label></div>
	<div><label><h3>User</h3>:<input type='user' name='user' value=""/><g>the user who can sudo</g></label></div>
	<div><label><h3>Password</h3>:<input type='password' name='password' value=""/></label></div>
	<div><label><h3>Node</h3>:<input type='text' name='node' value="dev"/></label></div>
	<div><label><h3>SystemCode</h3>:<input type='text' name='systemcode' value="1"/></label></div>

	<div class='btns'><a href='javascript:;' class='btn' onclick='onok(0);'>$lang.get('btn.ok')</a></div>
</div>
<div id='output'>

</div>

<script>
function onok(f) {
	processing && processing.show();
	var p = {};
	if(f == 0) {
		$('#output').empty();
		
		$('div.form input').each(function(i, e){
			e = $(e);
			p[e.attr('name')] = e.val();
		})
	}
	
	$.post('/admin/system/clone', p, function(d){
		processing && processing.hide();
		if($('#output').length > 0) {
			if(d.state == 200) {
				if(d.message) {
					$('#output').append(d.message);
				}
				
				if(d.done != 1) {
					onok(1);
				} else {
					$.message('finished');
				}
			} else if(d.message) {
				$.error(d.message);
			}
		}
	});
}

</script>
