<div class='head'>$lang.get('system.clone.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/system/clone' class='selected'>$lang.get('a.clone')</a>
</div>

<form action='/admin/system/clone'  method='post' class='form' enctype="multipart/form-data">
	<input type = "hidden" name="step" value="$step" />
	<div><label><h3>$lang.get('clone.ip')</h3>:<input type='text' name='host' value="$!host"/></label></div>
	<div><label><h3>$lang.get('clone.port')</h3>:<input type='text' name='port' value="$!port"/></label></div>
	<div><label><h3>$lang.get('clone.user')</h3>:<input type='text' name='user' value="$!user"/></label></div>
	<div><label><h3>$lang.get('clone.password')</h3>:<input type='password' name='password' value="$!password"/></label></div>

	<div><button type='submit'>$lang.get('btn.next')</button></div>
</form>
