<div class='head'>$lang.get('user.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/user' class='selected'>$lang.get('a.user')</a>
	<a href='/admin/user/history' >$lang.get('a.history')</a>
</div>

#set ($edit = $me.hasAccess('access.user.admin') )
<div class='search'>
	<form action='/admin/user' method='get' #if($currentpage>0) style='display:none' #end >
		<span><label><h3>$lang.get('user.name'):</h3><input type='text' name='name' value=#if($name) '$name' #else '' #end/></label></span>
		<span><label><h3>$lang.get('user.nickname'):</h3><input type='text' name='nickname' value=#if($nickname) '$nickname' #else '' #end/></label></span>
		<span><label><h3>$lang.get('user.title'):</h3><input type='text' name='title' value=#if($title) '$title' #else '' #end/></label></span>
		<button class='btns1' type='submit'>$lang.get('a.search')</button>
	</form>
	
	<div class='s1tab #if($currentpage>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table id='user-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
#if($edit)
			<th class='checkbox'><label><input type='checkbox'/>$lang.get('select.all')</label></th>
#end
			<th>$lang.get('user.name')</th>
			<th>$lang.get('user.nickname')</th>
			<th>$lang.get('user.certid')</th>
			<th>$lang.get('user.title')</th>
			<th>$lang.get('user.company')</th>
			<th>$lang.get('user.remote')</th>
			<th>$lang.get('user.roles')</th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr #if($f.isLocked()) class='deleted' #end>
#if($edit)
		<td class='checkbox'>#if($f.remote==0)<input type='checkbox' name='id' value='$f.id'/>#end</td>
#end
		<td class='name'><a href='/admin/user/detail?id=$f.id'>#if($f.name)$f.name#end</a></td>
		<td>#if($f.nickname)$f.nickname#end</td>
		<td>#if($f.remote==0 && $f.certid)$f.certid#end</td>
		<td>#if($f.title)$f.title#end</td>
		<td>#if($f.company)$f.company#end</td>
		<td>$lang.get("user.remote_$f.remote")</td>
		<td>#foreach($r in $f.role.list)<i class='role'>$r.name</i>#end</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
#if($edit)
	<a href='/admin/user/add'>$lang.get('a.user.add')</a>
	<a href='javascript:;' onclick='_post("/admin/user/edit", "#user-table", 1);'>$lang.get('a.edit')</a>
	<a href='javascript:;' onclick='_post("/admin/user/delete", "#user-table", -1);'>$lang.get('a.delete')</a>
#end
</div>

<script>
$('#user-table').tablesorter({headers:{0:{sorter:false}}});
</script>
