<div class='head'>$lang.get('user.history.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/user'>$lang.get('a.user')</a>
	<a href='/admin/user/history'  class='selected' >$lang.get('a.history')</a>
</div>

<table id='log-table' class='tablesorter nospace' border="0"
	cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th class='date'>$lang.get('log.created')</th>
			<th class='type'>$lang.get('log.type')</th>
			<th class='user'>$lang.get('user.name')</th>
			<th class='ip'>$lang.get('log.ip')</th>
			<th class='system'>$lang.get('log.system')</th>
			<th class='module'>$lang.get('log.module')</th>
			<th class='op'>$lang.get('log.op')</th>
			<th class='breif' style='width: 30%'>$lang.get('log.message')</th>
		</tr>
	</thead>
	<tbody>
		#foreach($f in $list)
		<tr class='log_type_$f.type'>
			<td>$lang.format($f.created, 'yy-MM-dd HH:mm:ss')</td>
			<td class='type'>#if($f.type)$lang.get("log.type_$f.type")#end</td>
			<td>#if($f.user)<i class='user'>$!f.user.nickname</i>#end</td>
			<td>$!f.ip</td>
			<td>$!f.system</td>
			<td>#if($f.module)$lang.get("$f.module")#end</td>
			<td>#if($f.op)$lang.get("$f.op")#end</td>
			<td #if($f.message) onclick='_showmore(this);' class='more' #end> 
				$!f.brief
				<div class='more'>$!f.message</div>
			</td>
		</tr>
		#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<div class='btns'>
	<a href='javascript:;' onclick='back();'>$lang.get('a.back')</a>
</div>
<script>
$('#log-table').tablesorter();

function _showmore(obj){
	var e = $(obj);
	e = e.parent().find('div.more');
	if(e.css('display') == 'block') {
		e.hide();
	} else {
		e.show();
	}
}

</script>
